#alerts {
  margin: 0;
  padding: 0;
  // background-color: $color-footer;
  // color: $color-content-background;

  a,
  .alert {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 13px 0;
    text-decoration: none;

    svg {
      display: block;
      width: 30px;
      height: 30px;
      color: white;
      margin: 0 10px 0 0;
    }

    &:last-child {
      border-bottom: none;
    }

    h2,
    span,
    p {
      // color: $color-content-background;
      font-family: $fontIBM;
    }

    h2 {
      font-size: 24px;
      font-weight: 600;
    }

    p {
      line-height: 22px;
      font-size: 18px;
      margin: 0 0 0 10px;

      &:last-of-type {
        margin: 0 0 0 auto;
      }
    }

    @media (max-width: 767px) {
      h2,
      p {
        font-size: 12px;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      p {
        &:last-of-type {
          display: none;
        }
      }
    }

    .container {
      display: flex;
      align-items: center;
    }

    &.info {
      background-color: $color-mayor-sushi;
      // background-color: rgb(67, 152, 70);

      svg {
        path {
          fill: $text-color;
        }
      }

      h2,
      span,
      a,
      p {
        color: $text-color;
      }

      &:hover,
      &:focus {
        background-color: darken($color-mayor-sushi, 5%);
      }
    }

    &.warning {
      background-color: $color-mayor-school-bus-yellow;
      // background-color: rgb(255, 186, 10);

      svg {
        path {
          fill: $text-color;
        }
      }

      h2,
      span,
      a,
      p {
        color: $text-color;
      }

      &:hover,
      &:focus {
        background-color: darken($color-mayor-school-bus-yellow, 5%);
      }
    }

    &.severe {
      background-color: $color-mayor-pomegranate;
      // background-color: rgb(201, 40, 19);

      h2,
      span,
      a,
      p {
        color: white;
      }

      &:hover,
      &:focus {
        background-color: darken($color-mayor-pomegranate, 5%);
      }
    }
  }
}